.App {
  display: flex;
  text-align: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.left {
  height: 100vh;
  width: 50vw;
  display: flex;
  background-color: gray;
  text-align: center;
}

.right {
  background-color:bisque;
  height: 100vh;
  width: 50vw;
  display: flex;
}

.reviewContainer {
  background-color: #61dafb;
  margin: 8px;
}

.uiContainer {
  display: flex;
}

.signoutButton {
  margin: 8px;
  height: 32px;
}

.restraunt {
  background-color: #61dafb;
  margin: 8px;
}

.reviewTitleRating {
  display: flex;
  flex-direction: row;
}

.reviewTitleRating h3:nth-of-type(2) {
  padding-left: 24px;
  text-align: left;
}
